@import "tailwindcss";
@plugin "daisyui";


@custom-variant dark (&:where(.dark, .dark *));

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 30px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    fill: #37cdbe;
    color: #37cdbe;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

  .material-icons-dark {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 30px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    fill: black;
    color: black;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

  .material-icons-accent {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 30px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    fill: oklch(38% .063 188.416);
    color: oklch(38% .063 188.416);
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

.scrollhid {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.scrollhid::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

  #root, body, html {
    @apply bg-slate-400 dark:bg-base-100 transition duration-2500;
  }

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
}
html {
  scroll-behavior: smooth;
}